@model ChampionshipMvc3.Models.ViewModels.PlayfieldViewModel

@{
    ViewBag.Title = "AddNewPlayfieldView";
}

<h2>Add New Playfield</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("AddNewPlayfield", "Playfield", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Playfield</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.PlayfieldModel.PlayfieldName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlayfieldModel.PlayfieldName)
            @Html.ValidationMessageFor(model => model.PlayfieldModel.PlayfieldName)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.PlayfieldModel.FieldType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlayfieldModel.FieldType)
            @Html.ValidationMessageFor(model => model.PlayfieldModel.FieldType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlayfieldModel.SurfaceType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlayfieldModel.SurfaceType)
            @Html.ValidationMessageFor(model => model.PlayfieldModel.SurfaceType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlayfieldModel.Length)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlayfieldModel.Length)
            @Html.ValidationMessageFor(model => model.PlayfieldModel.Length)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlayfieldModel.Width)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlayfieldModel.Width)
            @Html.ValidationMessageFor(model => model.PlayfieldModel.Width)
        </div>

        <div>
            @Html.DropDownListFor(m => m.SelectedId, Model.OwnersSelectList)
        </div>

        <input type="file" name="files" value="" multiple="multiple" />
        <p>
            <input type="submit" value="Create"/>
        </p>
    </fieldset>
}

