@model ChampionshipMvc3.Models.DataContext.PlayfieldOwner


@{
    ViewBag.Title = "CreateOwnerPlayfieldView";
}

<h1 class="pageTitle">Add new owner</h1>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("CreatePlayfieldOwner", "Playfield", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset >
        <legend class="pageTitle">OwnerPlayfield</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.StartHour)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartHour)
            @Html.ValidationMessageFor(model => model.StartHour)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndHour)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndHour)
            @Html.ValidationMessageFor(model => model.EndHour)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lat)
            @Html.ValidationMessageFor(model => model.Lat)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Long)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Long)
            @Html.ValidationMessageFor(model => model.Long)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Neighbourhood)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Neighbourhood)
            @Html.ValidationMessageFor(model => model.Neighbourhood)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BigField)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BigField)
            @Html.ValidationMessageFor(model => model.BigField)
        </div>

            <div class="editor-label">
            @Html.LabelFor(model => model.SmallField)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SmallField)
            @Html.ValidationMessageFor(model => model.SmallField)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PriceLights)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PriceLights)
            @Html.ValidationMessageFor(model => model.PriceLights)
        </div>
       
        <div class="editor-label">
            @Html.LabelFor(model => model.Custom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Custom)
            @Html.ValidationMessageFor(model => model.Custom)
        </div>
        <div>
            <label>Add playfield owner profile pic</label>
        </div>
      
         <input type="file" name="file" value="" />
        <p>
            <input type="submit" value="Create"  class="inputSearch" />
        </p>
    </fieldset>
}
