@model IEnumerable<ChampionshipMvc3.Models.DataContext.PlayfieldOwner>

@using ChampionshipMvc3.Resources

@{
    ViewBag.Title = Strings.bgOwners;
}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CustomScripts/googleMapsScript.js")" type="text/javascript"></script>

<table id="playFieldOwnerTable">

@foreach (var item in Model) {
   
    <tr>
        <td>
            <h2>@item.Name</h2>
            <h3 style="color:white">@item.Neighbourhood</h3>
        </td>
        <td>
             @{
                string imagePath = "";
                if (@item.Pictures != null && @item.Pictures.Count > 0)
                {
                    imagePath = @item.Pictures[0].Path;
                }
             }
            <img src="@imagePath" id="playfieldOwnerImage"/>
        </td>
        <td>
           <div id="map_canvas" ></div>
        </td>
        <td>
            @Html.ActionLink(Strings.bgDetails, "Details", new { id=item.PlayfieldOwnerID }, new { @class = "details" })
            <div id="setLat">
                @Html.HiddenFor(modelItem => item.Lat)
            </div>
            <div id="setLong">
                @Html.HiddenFor(modelItem => item.Long)
            </div>
        </td>
       
    </tr>
}

</table>
