@model ChampionshipMvc3.Models.DataContext.Playfield
@using ChampionshipMvc3.Models.Repositories
@using ChampionshipMvc3.Resources
    
<link href="../../Content/customBootstrap.css" rel="stylesheet" />
<link href="../../Content/Site.css" rel="stylesheet" />
<script src="../../Scripts/CustomScripts/bootstrap.minPlayNow.js"></script>
<script src="../../Scripts/CustomScripts/ownerPanel.js"></script>
<script src="../../Scripts/CustomScripts/tableFillerScheduleLayout.js"></script>

@{
            ReservationRepository reservationRepo = new ReservationRepository();
            var allReservations = reservationRepo.GetPlayfieldReservations(Model.PLayfieldID);
            DateTime displayDate = ViewBag.StartScheduleDay;
}

<div class="tables-holder" style="margin:0 auto">
  <table id="structureTable">
    <tr>
        @for (int dayIndex = 0; dayIndex < 8; dayIndex++)
        {
            string typeOfCell = "";

            
            <td class="inner-table-holder">
                @if (dayIndex == 0)
                {
                    <label>
                        <br />
                        <br />
                    </label>
                    <table id="hoursTable">
                        @for (int hourIndex = Model.PlayfieldOwner.StartHour; hourIndex < Model.PlayfieldOwner.EndHour; hourIndex++)
                        {
                            <tr>
                                <td>
                                    <label style="color: white">@hourIndex :00</label>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <label>
                        @{
                        var culture = new System.Globalization.CultureInfo("bg-BG");
                        }
                        @culture.DateTimeFormat.GetDayName(displayDate.DayOfWeek).ToUpperInvariant()
                        <br />
                        @displayDate.ToShortDateString()
                    </label>
                    
                    <table class="inner-table">

                        @for (int hourIndex = Model.PlayfieldOwner.StartHour; hourIndex < Model.PlayfieldOwner.EndHour; hourIndex++)
                        {

                            if (hourIndex == Model.PlayfieldOwner.StartHour)
                            {
                                typeOfCell = "first";
                            }
                            else if (hourIndex % 2 != 0)
                            {
                                typeOfCell = "not-even";
                            }
                            else
                            {
                                typeOfCell = "even";
                            }

                            bool isReserved = false;
                            <tr>
                                <td class="@typeOfCell" style="color: #6c6f67">
                                    <a>
                                        @{
                                            var compareDate = DateTime.Parse(displayDate.ToShortDateString() + " " + hourIndex.ToString() + ":00");
                                            if (allReservations.Any(r => r.ReservedDateHour.Equals(compareDate)))
                                            {
                                                isReserved = true;
                                            }
                                        }

                                        @Html.Hidden("date", displayDate.ToShortDateString(), new { @class = "hiddenDateClass" })
                                        @Html.Hidden("hour", hourIndex, new { @class = "hiddenHourClass" })
                                    </a>
                                    <div class="to-be-changed">
                                        @{
                                            if (isReserved)
                                            {
                                                <img src="http://upload.wikimedia.org/wikipedia/en/a/a6/Red_Battle_X.png" width="20" height="20" />
                                            }
                                            else
                                            {
                                                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSRnFo252I-f68MRc0h_iWrx2bZfxqJs2TOW5P99vul1mJvTF8kecFsKA" width="20" height="20" />
                                            }
                                        }
                                    </div>
                                </td>

                            </tr>
                    }
                </table>
                }
            
            </td>
            
            if (dayIndex != 0)
            {
                displayDate = displayDate.AddDays(1);
            }
}
    </tr>
</table>
</div>
<!-- Modal -->
<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">@Strings.bgReservationInformation</h4>
      </div>
      <div class="modal-body">
          @Html.Partial("~/Views/Playfield/_ReservationModel.cshtml", new ChampionshipMvc3.Models.DataContext.Reservation())
      </div>
      <div class="modal-footer">
        <button type="button" id="reservationButton" value="Reserve" class="btn btn-default reservationBtn">@Strings.bgReserve</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Strings.bgClose</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cancelReservationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">@Strings.bgReservation</h4>
      </div>
      <div class="modal-body">
          @Html.Partial("~/Views/Playfield/_ReservationDetails.cshtml")
      </div>
      <div class="modal-footer">
        <button type="button" id="confirmButton" class="btn btn-default reservationBtn">@Strings.bgCancelReservation</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Strings.bgClose</button>
      </div>
    </div>
  </div>
</div>
<script src="../../Scripts/CustomScripts/reservationJS.js"></script>
